<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <script src="http://code.jquery.com/jquery-1.9.0.min.js"></script>
    <script src="resources/js/app.js"></script>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css"/>

    <!-- Optional theme -->
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap-theme.min.css"/>

    <!-- Latest compiled and minified JavaScript -->
</head>
<body class="container">

<nav class="navbar navbar-inverse" role="navigation">
    <div class="navbar-hearder">
        <a class="navbar-brand" href="/" th:href="@{/}">PhotoAlbumCC</a>
    </div>
    <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
            <li data-show="#upload" id="showUploader"><a href="javascript:void(0)">Upload</a></li>
            <li data-show="#display" id="showDisplay"><a href="javascript:void(0)">Display</a></li>
            <li data-show="#single" id="showSingle"><a href="javascript:void(0)">Single</a></li>
            <li data-show="#slideshow" id="showSlideShow"><a href="javascript:void(0)">Slideshow</a></li>
        </ul>

        <ul class="nav navbar-nav pull-right">
            <li th:if="${user == null}">
                <a th:href="@{/login}">Please log in!</a>
            </li>
            <li th:unless="${user == null}">
                <a th:href="@{/logout}" th:text="'Log out, ' + ${user}" th:attr="data-user=${user}" id="user"></a>
            </li>
        </ul>

    </div>
</nav>


<div class="">
    <div class="form-horizontal" role="form" data-type="hidable" id="upload" style="display: none">
        <form method="post" th:action="@{/upload}" enctype="multipart/form-data">
            <div class="form-group">
                <label for="fileUploader" class="col-sm-2 control-label">Chose File</label>

                <div class="col-sm-10">
                    <input required="true" type="file" id="fileUploader" name="file" accept="image/*" style="display:none"/>
                    <input required="true" id="photoCover" class="form-control col-sm-7" type="text" onclick="openUploader()"
                           placeholder="Click to chose"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-default">save</button>
                </div>
            </div>
        </form>
    </div>

    <div data-type="hidable" id="single" style="display: none">
        <img id="imageOriginal" src="" style="max-height: 600px; max-width: 800px"/>
        <div id="fb-root"></div>


        <div class="fb-comments" id="fb-comments" data-href="http://photoalbumcc.appspot.com/idStart/${user}/123/idEnd" data-numposts="5"
             data-colorscheme="light"></div>
    </div>

    <div data-type="hidable"  id="display" style="display: none">

    </div>

    <div data-type="hidable" id="slideshow" style="display: none">
        Show
    </div>


</div>

</body>
</html>