<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <script src="http://code.jquery.com/jquery-1.9.0.min.js"></script>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css"/>

    <!-- Optional theme -->
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap-theme.min.css"/>

    <!-- Latest compiled and minified JavaScript -->
</head>
<body class="container">

<nav class="navbar navbar-inverse" role="navigation">
    <div class="navbar-hearder">
        <a class="navbar-brand" href="/" th:href="@{/}">PhotoAlbumCC</a>
    </div>
    <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
            <li><a href="#">Upload</a></li>
            <li><a href="#">Display</a></li>
            <li><a href="#">Slideshow</a></li>
        </ul>

        <ul class="nav navbar-nav pull-right">
            <li th:if="${user == null}">
                <a th:href="@{/login}">Please log in!</a>
            </li>
            <li th:unless="${user == null}">
                <a th:href="@{/logout}"  th:text="'Log out, ' + ${user}"></a>
            </li>
        </ul>

    </div>
</nav>


<div class="">
    Page stub
    <br/>=========<br/>


    <!--<div th:switch="${user}">-->
    <!--<p th:case="null">User is an administrator</p>-->

    <!--<p th:case="*">${user}</p>-->
    <!--</div>-->
</div>

</body>
</html>